body, html {
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgb(242, 238, 247) !important;
}

.blue {
  background-color: #0D6EFD;
}

a {
  text-decoration: none;
}

.nav-mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-circle {
  position: fixed;
  bottom: 0;
  margin: 2px;
  box-shadow: -1px 3px 87px -10px white;
  background-color: #e64747;
  z-index: 10;
  height: 86px;
  width: 86px;
  border-radius: 43px;
}

.nav-mobile {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
  z-index: 10;
  height: 70px;
  border-radius: 35px;
  background-color: #e64747;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.nav-mobile-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8666666667);
}

.nav-desktop {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: -1px 3px 87px -10px white;
  overflow: hidden;
  background-color: #e64747;
  z-index: 10;
}
